<section #home id="home">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="banner-text mt-2" [@EnterLeave]="'flyIn'">
            <h1>Make development easy with us.</h1>
            <p>Doing development can never be easy, and it takes time and resources. We at Easy Work has the
              solution.</p>
          </div>
        </div>
        <div [@EnterImage]="'flyIn'" class="col-sm-5 col-xs-12">
          <img src="../../assets/2-banner/banner.png" class="img-responsive img-r" alt="" />
        </div>
      </div>

    </div>
  </div>
</section>
<section #about id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <img src="../../../assets/3-content/content-001.png" class="img-responsive" alt="content" />
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="description-text pull-left max-width">
          <h4>We can give you our best user experience to your system</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
    </div>
  </div>
</section>