<section #services id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="description-text pull-left max-width">
          <h4>Easy access. Whenever, wherever you want</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <img src="../assets/3-content/content-002.png" class="img-responsive" alt="content" />
      </div>

    </div>
  </div>
</section>