<div class="text-center">
  <h2 [@EnterLeave]="'flyIn'">Application Summary</h2>
  <small>(Angular animation)</small>
</div>

<div class="mt-3 text-center animate fadeInLeft">
  <h6>Only admin can view this page</h6>
  <small>(Animated text using css3 animation)</small>
</div>

<section>

  <h6>Login component</h6>
  <ol>
    <li>Login box animate using css3</li>
    <li>Email validation using pattern</li>
    <li>Password field number validation</li>
  </ol>
</section>
<section>
  <h6>Home module</h6>
  <ol>
    <li>Lazy loading has been applied</li>
    <li>Demonstrates nested router-outlet</li>
    <li>Angular animations working on about us page</li>
    <li>Nested child pages working (about, services, contact, our-team)</li>
    <li>Child pages send data to parent component</li>
  </ol>
</section>
<section>
  <h6>Admin module</h6>
  <ol>
    <li>Lazy loading has been applied</li>
    <li>Route guard implemented</li>
    <li>Demonstrates the usage of ngOnChanges, @Ouput() and @Input() </li>
    <li>Create user component data is received by use-list component</li>
    <li>Currency formater directive working</li>
    <li>Parent sends data to child and child component sends data to parent</li>
    <li>Create user component and user list use ng-content to dynamically display text inside</li>
  </ol>
</section>
<section>
  <h6>Dashboard module</h6>
  <ol>
    <li>Lazy loading has been applied</li>
    <li>Route guard implemented</li>
    <li>Angular and css3 animation on top page headings</li>

  </ol>
</section>